<div class="">
    <app-header></app-header>
        <div class="side-nav" style="top: 64px;bottom: 0px;transform: none; visibility: visible;">
            <div class="main-lay_sec">
            <div class="side-bar-section">
            <app-sidebar></app-sidebar>
            </div>
        </div>
        </div>

    <div class="sidenav-content" style="margin-left: 270px;">
    <div class="main-lay-out">
        <div class="main-layout">
            <router-outlet></router-outlet>
        </div>
    </div>
    </div>
      </div>
    <!-- <div class="row g-0">
        <app-footer></app-footer>
    </div> -->




<!-- 
<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <div class="p-3 container-fluid">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->