.project_brd{
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 22px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .pro_sub h3{
    font-size: 20px;
    color: #222;
    padding-top: 10px;
    font-weight: normal;
    margin: 0px;
  }
  .project_button_nt {
    text-align: right;
    margin-right: 5px;
  }
  .project_button_nt button {
    /* margin-right: 8px; */
    width: 140px;
    padding: 3px;
  }
  .project_button_nt {
    padding-bottom: 30px;
    padding-top: 10px;
  }