<div class="login-wrapper">

    <mat-card class="login-container">
        <div class="login_logo">
            <img src="/assets/images/ispecklogo.webp" alt="ispeck-logo">
        </div>
        <div class="welcome_text">
            <h1>Forgot password</h1>
        </div>
        <form [formGroup]="resetPass" (ngSubmit)="resetPassLink()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your registered email" appearance="outline" formControlName="Email">
                <!-- <mat-icon matSuffix>email</mat-icon> -->
            </mat-form-field>
            <div class="pas_tgt">
                <p>A password verification link will be sent to your registered email.</p>
            </div>
            <div class="login_btn">
                <button type="submit" class="log-button mt-4" mat-raised-button color="primary">Send Verification Link</button>
            </div>
        </form>
        <!-- <div class="forgot-pass"><span [routerLink]="['/forgot-password']">Forgotten Password ? </span></div>
    <div class="sign-up">Don't have an account ? <span [routerLink]="['/register']">Sign Up</span></div> -->
        <div class="sign-up">
            <p>Remembered the password? <span [routerLink]="['/login']">Login</span> </p>
        </div>
    </mat-card>

</div>
