mat-hint {
    font-size: 0.77rem;
}

.forgot-pass {
    position: absolute;
    left: 10px;
}

.pas_tgt p {
    margin-bottom: 0px;
    margin-top: -13px;
    color: #673ab7;
    padding-left: 5px;
    padding-right: 5px;
}

.login_btn button {
    margin-top: 12px !important;
    margin-bottom: 14px !important;
}

.pas_tgt {
    padding-top: 15px;
}
.login_btn {
    margin-top: 3px;
}