<app-header></app-header>
<div class="landing_scr_prs">
<div class="header-banner">
    <div class="user_name-text">
        <h4> Hello, &nbsp;{{userName}}</h4>
    </div>
</div>
<div class="landing_setion-list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <mat-card [routerLink]="['/project-list']">
                    <div class="row">
                        <div class="col-2">
                            <div class="cricle_icon">
                                <mat-icon>folder</mat-icon>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="list_of_text">
                                <h3 class="list_of_heading">Projects</h3>
                            <!-- <p class="lk_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p> -->
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>


            <div class="col-sm-3">
                <mat-card [routerLink]="['/project-datasource']" (click)="datasource()">
                    <div class="row">
                        <div class="col-2">
                            <div class="cricle_icon color1">
                                <mat-icon>device_hub</mat-icon>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="list_of_text">
                                <h3 class="list_of_heading">DataSource</h3>
                                <!-- <p class="lk_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p> -->
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>


            <div class="col-sm-3">
                <mat-card [routerLink]="['/model-list']">
                    <div class="row">
                        <div class="col-2">
                            <div class="cricle_icon color2">
                                <mat-icon>memory</mat-icon>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="list_of_text">
                                <h3 class="list_of_heading">Models</h3>
                                <!-- <p class="lk_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p> -->
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div class="col-sm-3">
                <mat-card [routerLink]="['/user-management']">
                    <div class="row">
                        <div class="col-2">
                            <div class="cricle_icon color3">
                                <mat-icon>supervisor_account</mat-icon>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="list_of_text">
                                <h3 class="list_of_heading">Management</h3>
                                <!-- <p class="lk_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p> -->
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>


            <div class="col-sm-3">
                <mat-card [routerLink]="['/pipeline']">
                    <div class="row">
                        <div class="col-2">
                            <div class="cricle_icon color4">
                                <mat-icon>sports_hockey</mat-icon>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="list_of_text">
                                <h3 class="list_of_heading">Model Pipeline</h3>
                                <!-- <p class="lk_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p> -->
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>


            <div class="col-sm-3">
                <mat-card [routerLink]="['/user-audit-trail']">
                    <div class="row">
                        <div class="col-2">
                            <div class="cricle_icon color5">
                                <mat-icon>add_road</mat-icon>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="list_of_text">
                                <h3 class="list_of_heading">Users Audit Trail</h3>
                                <!-- <p class="lk_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p> -->
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div class="col-sm-3">
                <mat-card [routerLink]="['/system-monitoring']">
                    <div class="row">
                        <div class="col-2">
                            <div class="cricle_icon color6">
                                <mat-icon>legend_toggle</mat-icon>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="list_of_text">
                                <h3 class="list_of_heading">System Monitoring</h3>
                                <!-- <p class="lk_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p> -->
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>

        </div>
        <!-- <div class="row">
    <app-footer fxLayout="column"></app-footer>
  </div> -->
    </div>
</div>
</div>
