.pro-content::before{
  content: 'Pipeline' !important;
}

.project_brd{
  border-bottom: 1px solid #ddd;
  padding-bottom: 9px;
  padding-top: 8px;
  margin-bottom: 22px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 20px;
  padding-left: 20px;
}
.pro_sub h3{
  font-size: 18px;
  color: #222;
  padding-top: 10px;
  font-weight: normal;
  margin: 0px;
}

.mnk_list_for {
  display: flex;
}
.para_lkw h4 {
  margin-bottom: 2px;
  font-size: 13px;
  color: #6f6f6f;
}
.para_lkw {
  padding-left: 14px;
}
.icon_jkl mat-icon {
  font-size: 18px;
  padding-top: 5px;
  color: #4a4a4a;
}

.pip_secd {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}
.sve_lkldf{
  padding-top: 12px;
  margin-bottom: 16px;
}