.file-input{
  display: none;
}

.project-wrapper{
  min-width: 100% !important;
}

.project_brd{
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  padding-top: 4px;
  margin-bottom: 22px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 20px;
  padding-left: 20px;
}
.pro_sub h3{
  font-size: 18px;
  color: #222;
  padding-top: 10px;
  font-weight: normal;
  margin: 0px;
}
.create-button{
  padding-top: 10px;
  position: relative;
  bottom: 4px;
}
.tgbg{
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border-radius: 5px;
}
.tgbg th{
  font-weight: normal;
    color: #444;
}

.table>:not(:first-child) {
  border-top: 1px solid currentColor !important;
}
.user_role_btn {
  padding-top: 10px;
}
.btn_plsa button{
  padding: 3px;
  width: 100%;
  margin-bottom: 10px;
}

.user_role_btn button {
  padding: 3px;
  width: 100%;
  margin-bottom: 10px;
}
.modal-header h5{
  margin-bottom: 0px;
}
.image-upload{
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  margin-left: 7%;
  margin-right: auto;
}
.image-upload input{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0; 
  padding: 55px;
}
.upload-field {
  display: block;
  background: #ffffff;
  padding: 12px;
  border-radius: 12px;
}
.upload-field .file-thumbnail {
  cursor: pointer;
  border: 2px dashed #cbcbcb;
  border-radius: 11px;
  text-align: center;
  padding: 20px;
  height: 200px;
  padding-top: 14%;
  width: 380px;
}
.upload-field .file-thumbnail svg {
  width: 65px;
  height: 65px; 
  filter: grayscale(100%);
}
.upload-field .file-thumbnail h3 {
  font-size: 16px;
  color: #5c5c5c;
  font-weight: 400;
  margin-bottom: 4px;
  padding-top: 14px;
  line-height: 17px;
}