<div class="login-wrapper">

    <mat-card class="login-container">
        <div class="login_logo">
            <img src="/assets/images/ispecklogo.webp" alt="ispeck-logo">
        </div>
        <div class="welcome_text">
            <h1>Reset Password</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting standard dummy text.</p>
        </div>
        <form [formGroup]="resetPass" (ngSubmit)="resetPassword()">
            <mat-form-field appearance="outline">
                <mat-label>Enter Password</mat-label>
                <input matInput appearance="outline" formControlName="NewPassword">
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput appearance="outline" formControlName="conf_password">
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <div class="login_btn">
                <button type="submit" class="log-button mt-4" mat-raised-button color="primary">Reset Password</button>
            </div>
        </form>
        <!-- <div class="forgot-pass"><span [routerLink]="['/forgot-password']">Forgotten Password ? </span></div>
    <div class="sign-up">Don't have an account ? <span [routerLink]="['/register']">Sign Up</span></div> -->
    </mat-card>

</div>
