<!-- <div>
  <h2>User Permission List</h2>
</div> -->

<div class="project_brd">
    <div class="pro_sub d-flex justify-content-between">
        <h3>User Permission List</h3>
        <div class="create-button">
            <button mat-raised-button color="primary" data-bs-toggle="modal" (click)="enableCreateRole()"
                (click)="setPopupHeading('Create New Permission')" data-bs-target="#dataModal">
                <mat-icon>add</mat-icon>
                Create Permission
            </button>
        </div>
    </div>
</div>

<div class="user_details_pt">
    <div class="table-responsive tgbg">
        <div class="container-fluid">
            <div class="row">
                <table class="table table-hover">
                    <thead class="hed_sec_pl">
                        <tr>
                            <th scope="col">Permission ID</th>
                            <th scope="col">Permission Name</th>
                            <th scop e="col">Permission Description</th>
                            <th scope="col">Permission Status</th>
                            <th scope="col">Creation Date</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="permissionDetails != undefined">
                        <tr *ngFor="let perm of permissionDetails.data">
                            <th scope="row">{{perm.PER_ID}}</th>
                            <td>{{perm.PER_NAME}}</td>
                            <td>{{perm.PER_DESC}}</td>
                            <td>{{(perm.PER_STATUS == 1) ? 'Active' : 'Inactive'}}</td>
                            <td>{{perm.CREATION_DATE}}</td>
                            <td class="btn_rl_icon"> <button mat-button color="primary" data-bs-toggle="modal"
                                    data-bs-target="#dataModal" (click)="setPopupHeading('Update Permission')"
                                    (click)="editRole(perm.PER_ID,'edit')">
                                    <mat-icon>edit</mat-icon> Edit
                                </button></td>
                            <td class="btn_rl_icon"> <button mat-button color="warn"
                                    (click)="editRole(perm.PER_ID,'del')">
                                    <mat-icon>delete</mat-icon>Delete
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="dataModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="dataModal"
    aria-modal="false" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dataModal">{{popupHeading}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" #closebutton
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="permissionForm" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="outline">
                        <mat-label>Permission Name</mat-label>
                        <input matInput placeholder="Enter Role Name" formControlName="PER_NAME" required />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Permission Description</mat-label>
                        <input matInput placeholder="Enter Role Description" formControlName="PER_DESC" required />
                    </mat-form-field>
                    <div class="user_role_btn">
                        <button type="submit" class="log-button" mat-raised-button color="primary">
                            {{isCreate === true ? 'Create' : 'Update'}}
                        </button>
                    </div>

                </form>
            </div>
            <!-- <div class="modal-footer">

        <button
          type="button"
          class="log-button mt-2"
          mat-raised-button
          color="warn"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div> -->
        </div>
    </div>
</div>